.cart-button {
    position: relative;
    }
    .cart-count {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
    }   
    
    .close-button {
        background-color: red;
        border: none;
        padding: 4px;
        
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .cart-container {
        width: 60%;
        margin: auto;
        height: 100%;
    }
    .bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .bottom div {
        gap:10px
    }
    .cart-save {
        background-color: blue;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        
    }
    .cart-cancel {
        background-color: gray;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
        margin :10px;
    
    }